<div class="quiz-form">
  <%= form_for([:quiz, @question]) do |form| %>

  <% if @question.errors.present? %>
      <p>
        <%= @question.errors.full_messages.join(", ") %>
      </p>
    <% end %>

    <div class="form-group">
      <div class="quiz-form-description">
        <%= form.label :description %> <br>
        <%= form.text_area :description, class: "form-control" %>    
      </div>
    </div>

  <h3>Answers</h3>

  <%= form.fields_for :answers do |answer| %>

    <%= render 'answer_fields', :form => answer %>

    <% end %>

  <div class='links'>
    <%= link_to_add_association 'Add answer', form, :answers, form_name: 'form' %>
  </div>

  <%= form.submit("Save Question",class: "btn btn-outline-primary")%>
<% end %>
