<%= form_for([@question.quiz, @question, @answer]) do |form| %>

<% if @answer.errors.present? %>
    <p>
      <%= answer.errors.full_messages.join(", ") %>
    </p>
  <% end %>

  <div class="form-group">
    <%= form.label :correct %> <br>
    <%= form.radio_button(:correct, "correct", class: "form-control" )%>
  </div>

  <div class="form-group">
    <%= form.label :description %> <br>
    <%= form.text_area :description, class: "form-control" %>
  </div>



  <%= form.submit class: "btn btn-outline-primary" %>
<% end %>