<div class="quiz-form">
<%= form_for([@question.quiz, @question, @answer]) do |form| %>

<% if @answer.errors.present? %>
    <p>
      <%= answer.errors.full_messages.join(", ") %>
    </p>
  <% end %>

    <%= form.radio_button(:correct, true )%>
    <%= form.label :correct, "A Correct Answer" %> <br>
  
    <%= form.radio_button(:correct, false )%>
    <%= form.label :correct, "A Wrong Answer" %> <br>
 
  <div class="form-group">
    <div class="quiz-form-description">
      <%= form.label :description %> <br>
      <%= form.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="quiz-form-submit">
    <%= form.submit class: "btn btn-outline-primary" %>
  </div>
<% end %>
</div>