<section>
  <%= link_to("Return to your quiz", edit_quiz_path(@question.quiz.id)) %>
</section>

<section id="edit-question-form">  
  <h1>Edit Question</h1>

  <%= render "formQ" %>

  <% if can?(:delete, @question)%>
    <%= link_to("Delete", quiz_question_path(@question.quiz.id, @question), method: :delete)%>
  <% end %>

</section>

<section id="new-answer-form">
  <h2>New Answer</h2>
  <%= render "formA" %>
</section>

<section id="existing-answers-show">
<h2>Existing Answers</h2>

  <ul>
    <% @answers.each do |answer| %>
      <li>
        <% if answer.correct == true %>
          Correct
        <% else %>
          Wrong
        <% end %>

          <%= form_for(answer) do |form| %>

          <% if answer.errors.present? %>
              <p>
                <%= answer.errors.full_messages.join(", ") %>
              </p>
            <% end %>

            <%= form.radio_button(:correct, true )%>
            <%= form.label :correct, "A Correct Answer" %> <br>
          
            <%= form.radio_button(:correct, false )%>
            <%= form.label :correct, "A Wrong Answer" %> <br>

            <div class="form-group">
              <%= form.label :description %> <br>
              <%= form.text_area :description, class: "form-control" %>
            </div>



            <%= form.submit class: "btn btn-outline-primary" %>
          <% end %>

          <% if can?(:delete, answer)%>
            <%= link_to("Delete", answer_path(answer.id), method: :delete)%>
          <% end %>
        </li>
    <% end %>
  </ul>
</section>