<%= form_for(@quiz) do |form| %>
  <% if @quiz.errors.present?%>
    <p>
      <%= @quiz.errors.full_messages.join("<br>").html_safe%>
    </p>
  <% end %>

  <div class="quiz-form">

    <div class="quiz-form-title">
      <%= form.label :title %>
       <%= form.text_field :title, class: "quiz-form-input"%>
    </div>

    <div class="quiz-form-description"> 
      <%= form.label :description%>
      <%= form.text_area :description, class: "quiz-form-input" %>
    </div>
    
    <div class="quiz-form-difficulty"> 
      <%= form.label "difficulty", "Difficulty:"%><br>
      
      <div class="quiz-form-difficulty-buttons">
        <%= form.label :Beginner%>
        <%= form.radio_button(:difficulty, :Beginner)%>
        
        <%= form.label :Intermediate%>
        <%= form.radio_button(:difficulty, :Intermediate)%>

        <%= form.label :Expert%>
        <%= form.radio_button(:difficulty, :Expert)%>
        <br>
      </div>

    </div>
    
    <div class="quiz-form-points">
      <%= form.label :points %>
      <%= form.number_field :points, class: "quiz-form-input"%>

    </div>

    <div class="quiz-form-submit">
      <%= form.submit("Create Quiz") %>
    </div>
  </div>

<% end %>