<%= form_for(@quiz) do |form| %>
  <% if @quiz.errors.present?%>
    <p>
      <%=@quiz.errors.full_message.join(", ")%>
    </p>
  <% end %>

  <div class="quiz_form">
    <%= form.label :title %>
    <%= form.text_field :title%><br>

    <%= form.label :description%>
    <%= form.text_area :description%><br>
    

    <%= form.label :difficulty%><br>

    <%= form.label :Beginner%>
    <%= form.radio_button(:difficulty, :Beginner)%>
    
    <%= form.label :Intermediate%>
    <%= form.radio_button(:difficulty, :Intermediate)%>

    <%= form.label :Expert%>
    <%= form.radio_button(:difficulty, :Expert)%>
    <br>

    <%= form.label :points %>
    <%= form.number_field :points%><br>
  </div>

<% end %>