<%= form_for(@quiz) do |form| %>
  <% if @quiz.errors.present?%>
    <strong class="alert">
      <%= @quiz.errors.full_messages.join("<br>").html_safe%>
    </strong>
  <% end %>

  <div class="quiz-form">

    <div class="quiz-form-title">
      <strong><%= form.label :title %></strong>
       <%= form.text_field :title, class: "quiz-form-input"%>
    </div>

    <div class="quiz-form-description"> 
      <strong><%= form.label :description%></strong>
      <%= form.text_area :description, class: "quiz-form-input" %>
    </div>
    
    <div class="quiz-form-difficulty"> 
      <strong><%= form.label "difficulty", "Difficulty:"%></strong>
      
      <div class="quiz-form-difficulty-buttons">
        <div class="quiz-form-radio mr-1">
          <%= form.radio_button(:difficulty, :Beginner)%>
        </div> 
        <%= form.label :Beginner%>
      </div>
      
      <div class="quiz-form-difficulty-buttons">
        <div class="quiz-form-radio mr-1">
          <%= form.radio_button(:difficulty, :Intermediate)%>
        </div> 
        <%= form.label :Intermediate%>
      </div>

      <div class="quiz-form-difficulty-buttons">
        <div class="quiz-form-radio mr-1">
          <%= form.radio_button(:difficulty, :Expert)%>
        </div> 
        <%= form.label :Expert%>
        
      </div>

    </div>
    
    <div class="quiz-form-points">
      <strong><%= form.label :points %></strong>
      <%= form.number_field :points, class: "quiz-form-input"%>
    </div>

    <div class="quiz-form-submit">
      <%= form.submit("Create Quiz") %>
    </div>
  </div>

<% end %>