<div class="new-quiz-form">
  <div class="new-quiz-form-items">
    <h1>Edit Quiz</h1>

    <%= form_for(@quiz) do |form| %>
      <% if @quiz.errors.present?%>
        <strong class="alert">
          <%= @quiz.errors.full_messages.join("<br>").html_safe%>
        </strong>
      <% end %>

      <div class="quiz_form">

        <div class="quiz-form-title">
          <%= form.label :title %>
          <%= form.text_field :title%><br>
        </div>

        <div class="quiz-form-description">
          <%= form.label :description%><br>
          <%= form.text_area :description%><br>
        </div>
        
        <div class="quiz-form-difficulty">
          <%= form.label :difficulty%><br>

          <div class="quiz-form-difficulty-buttons">
            <%= form.label :Beginner%>
            <div class="quiz-form-radio">
              <%= form.radio_button(:difficulty, :Beginner)%>
            </div>
          </div>
          
          <div class="quiz-form-difficulty-buttons">
            <%= form.label :Intermediate%>
            <div class="quiz-form-radio">
              <%= form.radio_button(:difficulty, :Intermediate)%>
            </div>
          </div>

          <div class="quiz-form-difficulty-buttons">
            <%= form.label :Expert%>
            <div class="quiz-form-radio">
              <%= form.radio_button(:difficulty, :Expert)%>
            </div>
          </div>

        </div>
        
        <div class="quiz-form-points">
          <%= form.label :points %>
          <%= form.number_field :points%><br>     
        </div>
        
        <div class="quiz-form-submit">
          <%= form.submit("Done") %>
        </div>

      </div>
    <% end %>

    <%= link_to(
          "Create a New Question",
          new_quiz_question_path(@quiz.id)
        )%> <br>

    <% if @questions %>
  </div>

  <h2>Edit Questions</h2>
    <% @questions.each do |q| %>
      <div class="quiz-question">
        <%= link_to(q.description,edit_quiz_question_path(q.quiz.id, q.id)) %>
      </div>
    <% end %>
  <% end %>

</div>