<h1><%=@quiz.title%></h1>
<small>Created by: <%= @quiz.user.username %></small>
<p><%=@quiz.description%></p>
<p> Difficulty: <%=@quiz.difficulty%> </p>
<p>Points: <%=@quiz.points%></p>


<h2>Questions</h2>
<% @quiz.questions.each do |question| %>
  <ul>
    <li><%= question.description %></li><br>
    <h4>Answers</h4>
    <% question.answers.each do |answer| %>
      <%= answer.description%>
    <% end %> 
    
    <%= link_to(
      "Edit Quiz",
      edit_quiz_question_path(@quiz.id, question.id)
    )%>
  </ul>
<% end %>