<!DOCTYPE html>
<html>
  <head>
    <title>QuizMasters</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>`
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>
    <%# Devise default alerts: %>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="#"><%= link_to "Home", root_path %> </a>
            </li>
            <li class="nav-item">
              
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= link_to "Quizzes", quizzes_path %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= link_to "Leaderboard", leaderboard_path %></a>
            </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= link_to "New Quiz", new_quiz_path %></a>
            </li>
          <% end %>
          </ul>
          <ul class="navbar-nav pull-right">
          <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= link_to current_user.first_name, edit_user_registration_path %> </a>

            </li>
            <li class="nav-item pull-right">
              <a class="nav-link" href="#"> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </a>
            </li>
       
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= link_to "Sign In", new_user_session_path %></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= link_to "Sign Up", new_user_registration_path %></a>
            </li>
          <%end%>
          </ul>
        </div>
      </nav>
    </header>
    
    <div>
      <% if alert %>
        <strong class="alert">
          <%= alert %>
        </strong>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>


<!-- > <nav>
<%= link_to '  ', edit_user_registration_path %>
        <%= link_to 'Home Page', root_path %>
        |
        <%= link_to 'New Quiz', new_quiz_path %>
        |
        <%= link_to "Quizzes", quizzes_path %>
        |
        <%= link_to "Leaderboard", leaderboard_path %>
        |
        <%= link_to "Sign In", new_user_session_path %>
        |
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        |
        <%= link_to "Sign Up", new_user_registration_path %>
      </nav>
      !-->
    